<html>
  <head>
    <title>Secure Code</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Send ur command</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Format" name="format" value="{{
          request.form.format }}">
        <input class="btn btn-default" type="submit" value="Send">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
      {% if message %}
          <p class="message"> {{message}}</p>
      {% endif %}
      {% if format %}
          <p class="format"> {{format}}</p>
      {% endif %}
      <table>
        <thead>
        <tr>
          <th>Directive</th>
          <th>Meaning</th>
          <th>Output Format</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>%a</td>
          <td>Abbreviated weekday name.</td>
          <td>Sun, Mon, …</td>
        </tr>
        <tr>
          <td>%A</td>
          <td>Full weekday name.</td>
          <td>Sunday, Monday, …</td>
        </tr>
        <tr>
          <td>%w</td>
          <td>Weekday as a decimal number.</td>
          <td>0, 1, …, 6</td>
        </tr>
        <tr>
          <td>%d</td>
          <td>Day of the month as a zero added decimal.</td>
          <td>01, 02, …, 31</td>
        </tr>
        <tr>
          <td>%-d</td>
          <td>Day of the month as a decimal number.</td>
          <td>1, 2, …, 30</td>
        </tr>
        <tr>
          <td>%b</td>
          <td>Abbreviated month name.</td>
          <td>Jan, Feb, …, Dec</td>
        </tr>
        <tr>
          <td>%B</td>
          <td>Full month name.</td>
          <td>January, February, …</td>
        </tr>
        <tr>
          <td>%m</td>
          <td>Month as a zero added decimal number.</td>
          <td>01, 02, …, 12</td>
        </tr>
        <tr>
          <td>%-m</td>
          <td>Month as a decimal number.</td>
          <td>1, 2, …, 12</td>
        </tr>
        <tr>
          <td>%y</td>
          <td>Year without century as a zero added decimal number.</td>
          <td>00, 01, …, 99</td>
        </tr>
        <tr>
          <td>%-y</td>
          <td>Year without century as a decimal number.</td>
          <td>0, 1, …, 99</td>
        </tr>
        <tr>
          <td>%Y</td>
          <td>Year with century as a decimal number.</td>
          <td>2013, 2019 etc.</td>
        </tr>
        <tr>
          <td>%H</td>
          <td>Hour (24-hour clock) as a zero added decimal number.</td>
          <td>00, 01, …, 23</td>
        </tr>
        <tr>
          <td>%-H</td>
          <td>Hour (24-hour clock) as a decimal number.</td>
          <td>0, 1, …, 23</td>
        </tr>
        <tr>
          <td>%I</td>
          <td>Hour (12-hour clock) as a zero added decimal number.</td>
          <td>01, 02, …, 12</td>
        </tr>
        <tr>
          <td>%-I</td>
          <td>Hour (12-hour clock) as a decimal number.</td>
          <td>1, 2, … 12</td>
        </tr>
        <tr>
          <td>%p</td>
          <td>Locale’s AM or PM.</td>
          <td>AM, PM</td>
        </tr>
        <tr>
          <td>%M</td>
          <td>Minute as a zero added decimal number.</td>
          <td>00, 01, …, 59</td>
        </tr>
        <tr>
          <td>%-M</td>
          <td>Minute as a decimal number.</td>
          <td>0, 1, …, 59</td>
        </tr>
        <tr>
          <td>%S</td>
          <td>Second as a zero added decimal number.</td>
          <td>00, 01, …, 59</td>
        </tr>
        <tr>
          <td>%-S</td>
          <td>Second as a decimal number.</td>
          <td>0, 1, …, 59</td>
        </tr>
        <tr>
          <td>%f</td>
          <td>Microsecond as a decimal number, zero added on the left.</td>
          <td>000000 – 999999</td>
        </tr>
        <tr>
          <td>%z</td>
          <td>UTC offset in the form +HHMM or -HHMM.</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>%Z</td>
          <td>Time zone name.</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>%j</td>
          <td>Day of the year as a zero added decimal number.</td>
          <td>001, 002, …, 366</td>
        </tr>
        <tr>
          <td>%-j</td>
          <td>Day of the year as a decimal number.</td>
          <td>1, 2, …, 366</td>
        </tr>
        <tr>
          <td>%U</td>
          <td>Week number of the year (Sunday as the first day of the week). All days in a new year preceding the first Sunday are considered to be in week 0.</td>
          <td>00, 01, …, 53</td>
        </tr>
        <tr>
          <td>%W</td>
          <td>Week number of the year (Monday as the first day of the week). All days in a new year preceding the first Monday are considered to be in week 0.</td>
          <td>00, 01, …, 53</td>
        </tr>
      </tbody></table>
    </div>
  </body>
</html>